.course-item {
    margin: 1rem;
  }
  
  .course-item a {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    padding: 1rem;
    color: white;
    background: #292929;
  }
  
  .course-item a:hover,
  .course-item a:active {
    background: #ffd900;
  }
  
  .course-item__content {
    padding: 0;
    height: 17.5rem;
    min-height: 17.5rem;
    min-width: 17.5rem;
    display: flex;
    align-items: center;
  }
  
  .course-item__image {
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
  }

  .course-item__info {
    padding: 1rem;
    text-align: center;
  }
  
  .course-item__info h2,
  .course-item__info h3
  .course-item__info p {
    font-size: 1.5rem;
    margin: 0 0 3rem 0;
    font-weight: normal;
    color: #000000;
  }
  
  .course-item:hover h2,
  .course-item:active h2,
  .course-item:hover h3,
  .course-item:active h3 {
    color: #ff6464;
  }

  .course-item__actions {
    padding: 1rem;
    text-align: center;
    border-top: 1px solid rgb(0, 0, 0);
  }
  
  .course-item__modal-content {
    padding: 0;
  }
  
  .course-item__modal-actions {
    text-align: right;
  }
  
  .course-item__actions button,
  .course-item__actions a {
    margin: 0.5rem;
  }
  
  .map-container {
    height: 15rem;
    width: 100%;
  }
  
  @media (min-width: 768px) {
    .course-item__image {
      height: 20rem;
    } 
  }